# Project-specific
local.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
*.class
*.jar
*.kt.swp

# Android
*.apk
*.ap_
*.aab
*.dex
captures/
.externalNativeBuild/
.cxx/
*.iml
.idea/

# iOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
Pods/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
ENV/
*.pt

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/launch.json